/* .navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(16, 17, 16);
    color: white;
    padding-top: 20px;
}
img{
    width: 30px;
    height: 30px;
}
.nav-1{
   display: flex;
   
}
input{
    gap: 20px !important;
}
.nav-3{
    display: flex;
    
} */